---
import UiLayout from "@/components/layout/UiLayout.astro";
import { FeedManager } from "@/features/feeds/feedManager";
---

<UiLayout>
	<div class="flex flex-col gap-4 p-8">
		<h1 class="font-serif text-xl">Subscribe to Scouting411 Pulse</h1>

		<p>
			Although the upstream sources on Pulse are published in a variety of
			different formats, we have gone to the trouble of re-exporting every
			source as a non-paginated RSS feed for you. If you don't know what RSS is,
			you can learn more at <a
				href="https://aboutfeeds.com/"
				rel="noopener noreferrer"
				target="_blank"
				class="text-blue wrap-anywhere hyphens-auto hover:underline"
				>aboutfeeds.com</a
			>.
		</p>
		<p>
			There are a few caveats to be aware of when using these feeds:
			<ul class="list-inside list-disc">
				<li>
					The feeds are not continuously updated. They may be stale by up to 24
					hours at a given time. We may consider adding support for instant
					updates in the future, where possible.
				</li>
				<li>
					We have not yet added support for media enclosures; these feeds will
					not work with a podcast app.
				</li>
				<li>
					While we have attempted to faithfully represent the original content,
					the metadata and formatting of these feeds is not identical to the
					upstream sources.
				</li>
			</ul>
		</p>

		<div class="p-4">
			<table class="w-full">
				<thead>
					<tr>
						<th class="border-gray-5 border-b text-left">Source</th>
						<th class="border-gray-5 border-b text-left">Feed</th>
					</tr>
				</thead>
				<tbody>
					{
						FeedManager.feeds.map(async (feed) => (
							<tr>
								<td class="border-gray-3 border-b py-1.5 pr-8">
									<a href={feed.overviewUrl} class="text-blue hover:underline">
										{feed.name}
									</a>
								</td>
								<td class="border-gray-3 border-b py-1.5 pr-8">
									<a
										href={feed.rssUrl}
										rel="noopener noreferrer"
										target="_blank"
										class="text-blue hover:underline"
									>
										rss
									</a>
								</td>
							</tr>
						))
					}
				</tbody>
			</table>
		</div>

		<h2 class="font-serif text-lg">All Sources</h2>

		<p>
			You can subscribe to every source at once by importing our <a
				href="/feeds/all/opml"
				rel="noopener noreferrer"
				target="_blank"
				class="text-blue underline">OPML blogroll</a
			> into your reader.
		</p>
	</div>
</UiLayout>
