---
import UiLayout from "@/components/layout/UiLayout.astro";
import { FeedManager } from "@/features/feeds/feedManager";
---

<UiLayout>
	<h1 class="font-serif text-xl">Subscribe to Scouting411 Pulse</h1>

	<p>
		Every source on Scouting411 is made available as an RSS feed, so you can
		subscribe on your favorite reader app. If you don't know what RSS is, you
		can learn more at <a
			href="https://aboutfeeds.com/"
			rel="noopener noreferrer"
			target="_blank"
			class="text-brand-blue wrap-anywhere hyphens-auto hover:underline"
			>aboutfeeds.com</a
		>.
	</p>

	<div class="p-8">
		<table class="w-full">
			<thead>
				<tr>
					<th class="border-brand-gray-5 border-b text-left">Name</th>
					<th class="border-brand-gray-5 border-b text-left">Feed</th>
				</tr>
			</thead>
			<tbody>
				{
					FeedManager.feeds.map(async (feed) => (
						<tr>
							<td class="border-brand-gray-3 border-b py-1.5 pr-8">
								<a
									href={feed.overviewUrl}
									class="text-brand-blue wrap-anywhere hyphens-auto hover:underline"
								>
									{feed.name}
								</a>
							</td>
							<td class="border-brand-gray-3 border-b py-1.5 pr-8">
								<a
									href={feed.rssUrl}
									rel="noopener noreferrer"
									target="_blank"
									class="text-brand-blue wrap-anywhere hyphens-auto hover:underline"
								>
									rss
								</a>
							</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</div>

	<!-- todo add OPML file output -->
	<p>OPML: <a href="/feeds/all/opml.xml">OPML</a></p>
</UiLayout>
