@import "tailwindcss";

@theme inline {
	--color-brand-blue: #003f87;
	--color-brand-gray-1: #f2f2f2;

	--font-serif: var(--font-roboto-slab);
	--font-sans: var(--font-roboto);
	--font-display: var(--font-montserrat);

	--shadow-card: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
