<footer
	class="flex justify-between gap-10 bg-black/10 px-4 py-1 text-xs text-gray-700"
>
	<a
		href="https://github.com/kevin8181/scouting411"
		target="_blank"
		rel="noopener noreferrer"
		class="hover:underline"
	>
		Github
	</a>

	<span>
		Last build: {new Date().toISOString()}
	</span>
</footer>
