<header
	class="bg-brand-blue px-4 py-3 text-white flex items-center justify-between"
>
	<a href="/" class="font-display text-2xl font-[800]">Scouting411</a>
	<button class="aspect-square bg-brand-gray-1 h-full xl:hidden"></button>
</header>
