---
import { Font } from "astro:assets";
import ClientRouter from "astro/components/ClientRouter.astro";
import { FeedManager } from "@/features/feeds/feedManager";
---

<head>
	<!-- TECHNICAL -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />

	<!-- IDENTITY + BRANDING -->
	<!-- todo add favicon -->
	<!-- todo add apple touch icons -->
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<!-- todo not sure if the theme color is working -->
	<meta name="theme-color" content="var(--color-blue)" />

	<!-- INDEXING -->
	<!-- todo add stylesheet for the sitemap -->
	<link rel="sitemap" href="/sitemap-index.xml" />
	<!-- todo remove this before production -->
	<meta name="robots" content="noindex" />
	<!-- todo add canonical url -->

	<!-- METADATA -->
	<title>Scouting411</title>
	<!-- todo add meta description -->
	<!-- todo add OG and twitter tags -->

	<!-- FEEDS -->
	<link rel="outline" type="text/x-opml" href="/feeds/all/opml" />
	{
		FeedManager.feeds.map((feed) => (
			<link
				rel="alternate"
				type="application/rss+xml"
				title={feed.name}
				href={feed.urls.rss}
			/>
		))
	}

	<!--STYLES-->
	<Font cssVariable="--font-roboto-slab" preload />
	<Font cssVariable="--font-roboto" preload />
	<Font cssVariable="--font-montserrat" preload />

	<!--SCRIPTS-->
	<ClientRouter />
</head>
