<header
	class="bg-brand-blue flex items-center justify-between px-4 py-3 text-white"
>
	<a href="/" class="font-display text-xl font-[800]">Scouting411</a>
	<!-- todo add hamburger menu trigger -->
	<button class="bg-brand-gray-1 aspect-square h-full xl:hidden"></button>
</header>
