<header
	class="bg-brand-blue sticky top-0 flex flex-col justify-between gap-y-4 px-4 py-3 text-white md:flex-row"
>
	<a href="/" class="font-display text-2xl font-[800]">Scouters Online</a>
	<nav class="flex items-center gap-4 font-serif md:gap-8">
		<a href="/" class="font-bold hover:underline">All Links</a>
		<a
			href="https://github.com/kevin8181/scouters-online/issues/new/"
			rel="noopener noreferrer"
			target="_blank"
			class="hover:underline"
		>
			Submit a Link
		</a>
		<a
			href="https://discord.gg/gT5zxSyT9F"
			rel="noopener noreferrer"
			target="_blank"
			class="hover:underline"
		>
			Discord
		</a>
		<a
			href="https://github.com/kevin8181/scouters-online/"
			rel="noopener noreferrer"
			target="_blank"
			class="hover:underline"
		>
			Github
		</a>
	</nav>
</header>
