---
import { Font } from "astro:assets";
import ClientRouter from "astro/components/ClientRouter.astro";
---

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="sitemap" href="/sitemap-index.xml" />
	<link
		rel="alternate"
		type="application/rss+xml"
		title="Scouting411"
		href={new URL("rss.xml", Astro.site)}
	/>
	<meta name="robots" content="noindex" />
	<title>Scouting411</title>

	<Font cssVariable="--font-roboto-slab" preload />
	<Font cssVariable="--font-roboto" preload />
	<Font cssVariable="--font-montserrat" preload />

	<ClientRouter />
</head>
