<header
	class="bg-brand-blue sticky top-0 flex flex-col justify-between gap-y-4 px-4 py-3 text-white md:flex-row"
>
	<a href="/" class="font-display text-2xl font-[800]">Scouting411</a>
	<nav class="flex items-center gap-4 font-serif md:gap-8">
		<a href="/" class="hover:underline"> Feed </a>
		<a href="/resources" class="hover:underline"> Resources </a>
	</nav>
</header>
