---
import RootLayout from "@/components/layout/RootLayout.astro";
import { AppShell } from "@/components/layout/sidebar/appShell";
---

<RootLayout>
	<body>
		<AppShell url={Astro.url} client:load>
			<slot />
		</AppShell>
	</body>
</RootLayout>
