---
import Layout from "@/components/layout/Layout.astro";
import Header from "@/components/layout/Header.astro";
import Sidebar from "@/components/layout/sidebar";
---

<Layout>
	<body>
		<!-- header main column -->
		<div class="h-dvh w-dvw flex flex-col">
			<Header />

			 <!-- sidebar beside main row-->
			<div class="flex h-full">
				<Sidebar />

				<main class="grow">
					<slot />
				</main>
			</div>
		</div>
	</body>
</Layout>
