---
import UiLayout from "@/components/layout/UiLayout.astro";
---

<UiLayout>
	<div
		class="flex h-full w-full flex-col items-center justify-center gap-8 p-8"
	>
		<h1 class="text-blue font-display text-5xl font-[800]">Scouting411</h1>
		<h2 class="text-gray-10 text-xl">
			the unofficial aggregator for official Scouting America news and resources
		</h2>
	</div>
</UiLayout>
