---
import UiLayout from "@/components/layout/UiLayout.astro";
---

<UiLayout>
	<div
		class="flex w-full h-full flex-col items-center justify-center gap-8 p-8"
	>
		<h1 class="text-brand-blue font-display text-5xl font-[800]">
			Scouting411
		</h1>
		<h2 class="text-xl text-brand-gray-10">
			the unofficial aggregator for official Scouting America news and resources
		</h2>
	</div>
</UiLayout>
