---
import UiLayout from "@/layouts/UiLayout.astro";

import { linksConfig } from "@/lib/links/data/links";
---

<UiLayout>
	<div class="flex flex-col gap-2">
		{
			linksConfig.map((linkConfig) => {
				return <a href={linkConfig.url}>{linkConfig.url}</a>;
			})
		}
	</div>
</UiLayout>
