---
import UiLayout from "@/components/layout/UiLayout.astro";
---

<UiLayout>
	<div class="flex min-h-screen w-full items-center justify-center flex-col gap-10 p-8">
		<h1 class="text-brand-blue font-display font-[800] text-5xl">Scouting411</h1>
		<h2 class="text-xl">the unofficial aggregator of official Scouting America news and resources</h2>
	</div>
</UiLayout>
