---
import UiLayout from "@/components/layout/UiLayout.astro";
import { links } from "@/features/links";
import { Link } from "@/features/links/components/Link";
---

<UiLayout>
	<div class="p-6">
		<div class="flex flex-col gap-5">
			{
				(await links()).map((link) => {
					return <Link link={link} />;
				})
			}
		</div>
	</div>
</UiLayout>
