---
import UiLayout from "@/components/layout/UiLayout.astro";
import { Feed } from "@/features/feeds/feed";

//todo remove this page
---

<UiLayout title="Feeds">
	<div class="flex flex-col gap-4 p-4">
		<span>{(await Feed.allPosts()).length} total posts</span>
		{
			Feed.instances.map(async (feed) => (
				<div class="flex items-center gap-4">
					<a
						href={feed.homepageUrl}
						rel="noopener noreferrer"
						target="_blank"
						class="text-brand-blue font-serif text-xl font-bold wrap-anywhere hyphens-auto hover:underline"
					>
						{feed.name}
					</a>
					<span>{feed.posts.length} posts</span>
					<span>{feed.type}</span>
				</div>
			))
		}
	</div>
</UiLayout>
