---
import UiLayout from "@/components/layout/UiLayout.astro";
import { feeds } from "@/features/feeds/config";
import { getAllPosts } from "@/features/feeds/getAllPosts";

//todo remove this page
---

<UiLayout title="Feeds">
	<div class="flex flex-col gap-4 p-4">
		<span>{(await getAllPosts()).length} total posts</span>
		{
			feeds.map(async (feed) => (
				<div class="flex items-center gap-4">
					<a
						href={feed.homepageUrl}
						rel="noopener noreferrer"
						target="_blank"
						class="text-brand-blue font-serif text-xl font-bold wrap-anywhere hyphens-auto hover:underline"
					>
						{feed.name}
					</a>
					<span>{(await feed.posts()).length} posts</span>
					<span>{feed.type}</span>
				</div>
			))
		}
	</div>
</UiLayout>
