---
import UiLayout from "@/components/layout/UiLayout.astro";
import { Link } from "@/features/resources/components/Link";
import { resources } from "@/features/resources/data";
---

<UiLayout>
	<div class="flex justify-center p-6">
		<div class="flex max-w-5xl flex-col justify-stretch gap-5">
			{resources.map((resource) => <Link resource={resource} />)}
		</div>
	</div>
</UiLayout>
