---
import UiLayout from "@/components/layout/UiLayout.astro";
---

<UiLayout>
	<div class="flex w-full flex-col">
		<div class="h-[60vh] bg-amber-400"></div>
		<div class="h-[60vh] bg-red-400"></div>
		<div class="h-[60vh] bg-blue-400"></div>
	</div>
</UiLayout>
