---
import UiLayout from "@/components/layout/UiLayout.astro";
import { Resource } from "@/components/react/resource";
import { resources } from "@/features/resources/data";
---

<UiLayout>
	<div class="flex justify-center p-8">
		<div class="flex w-full max-w-5xl flex-col justify-stretch gap-5">
			{resources.map((resource) => <Resource resource={resource} />)}
		</div>
	</div>
</UiLayout>
