---
import type { Post } from "@/features/feeds/posts/types";
type Props = {
	post: Post;
};

const { post } = Astro.props;
---

<div class="shadow-card flex flex-col gap-3 rounded bg-white p-6">
	<a
		href={post.url + "?utm_source=scouting411"}
		rel="noopener noreferrer"
		target="_blank"
		class="text-brand-blue font-serif text-xl font-bold hover:underline"
		>{post.title}</a
	>
	<span class="flex items-center gap-2 text-xs">
		<span class="hover:underline">Scouts BSA Program Updates</span>
		<span class="font-bold">&middot;</span>
		<span
			>{
				post.date?.toLocaleDateString("en-US", {
					year: "numeric",
					month: "long",
					day: "numeric",
				})
			}
		</span>
	</span>
	<p class="text-sm text-gray-800">{post.description}</p>
</div>
